.container {
  /* display: grid; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2px;
  /* grid-auto-rows: minmax(50px, auto); */
  grid-auto-columns: minmax(50px, auto);
  background-color: white;
}

.navbar {
  border-radius: 3px;
  padding: 1.5rem;
  background-color: black;
}

#header {
  padding-top: 5px;
  height: 2.3rem;
  grid-column-start: 1;
  grid-column-end: 6;
}

#header nav {
  display: inline;
  color: white;
}
#header input {
  padding: 10px;
  margin-left: 20rem;
  width: 25%;
  height: 0.5rem;
}
#header nav p {
  display: inline-flex;
}
#header nav ul {
  display: inline-flex;
  float: right;
}
#header nav ul li {
  display: flex;
  padding: 0 16px;
}

#header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.section-top {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
  font-weight: bolder;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-repeat: no-repeat;
  height: 200px;
  border: 0px;
  padding-top: 20%;
  background-image: url("C:Users/Hp/Downloads/Project/Images/b-1.jpeg");
}

#background a {
  text-decoration: none;
  color: white;
  background-color: rgb(75, 207, 75);
  font-weight: lighter;
  font-size: 1rem;
  padding: 6px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
}

#background a:hover {
  color: blueviolet;
}

.section-mid {
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 4% 7% 3% 7%;
}

#nested-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
}
.nested-a {
  padding: 15px;
}
.nested-a h1 {
  color: blue;
}
.nested-a p {
  color: blueviolet;
}
.nested-a a {
  text-decoration: none;
  color: white;
  background-color: rgb(75, 207, 75);
  font-weight: lighter;
  font-size: 1rem;
  padding: 6px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
}
.nested-a a:hover {
  color: blueviolet;
}
.nested-b img {
  width: 53%;
  height: 200px;
  padding-left: 110px;
}

.section-center {
  grid-column-start: 1;
  grid-column-end: 6;
}

.section-center {
  padding: 0px 5% 0px 5%;
  /* grid-column-start: 1;
  grid-column-end: 6; */
  display: grid;
  grid-row: 2;
grid-column: 1;
  grid-gap: 2px;
  background-color: lightgrey;
}
.section-center-heading{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row:1/2;
  height: 2.5rem;

}
.section-center-discription{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row:2/3;
}
.section-center-discription-container{
  display: grid;
  grid-column: 3;
}
.section-center-discription-container{
 display: inline-flex;
}
.center {
  padding: 1rem;
  width: 75%;
}
.section-center-heading h1 {
  color: green;
}
.center h3 {
  color: blueviolet;
}

.section-bottom {
  margin: 7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
}
.nested {
  padding: 15px;
}
#sec-bottom {
  padding-left: 1rem;
  color: rgba(28, 28, 28, 0.767);
  font-size: large;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.section-bottom a {
  padding: 1rem;
  text-decoration: none;
  color: white;
  background-color: rgb(75, 207, 75);
  font-weight: bold;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  height: 1rem;
  width: 5rem;
}
.section-bottom a:hover {
  color: blue;
}
.sec-icon {
  display: inline-flex;
  padding-top: 16px;
}
.sec-image {
  display: inline-flex;
  padding: 16px;
}
.sec-button1 {
  display: inline-flex;
}
.sec-button2 {
  display: inline-flex;
  padding: 0px 0px 0px 16px;
}
.container-article h3 {
  height: 0rem;
}
.container-article {
  /* display: flex; */
  /* flex-direction: column;  */
  padding-left: 29px;
}
.sec-icon img {
  height: 8rem;
  width: 8.5rem;
}
.sec-image img {
  height: 8rem;
  width: 8.5rem;
}
.image-section {
  background-image: url("C:Users/Hp/Downloads/Project/Images/background-2.jpeg");
  grid-column-start: 1;
  grid-column-end: 6;
  height: 200px;
  text-align: center;
  color: #f9f9f9;
  padding-top: 10%;
}

.footer {
  grid-template-columns: 2fr 1fr;
  color: #f9f9f9;
  padding-top: 1rem;
  display: grid;
  padding: 1.5rem 1.5rem 2rem 0rem;
  background-color: black;
  height: 2.6rem;
}
.copyright {
  padding-left: 20px;
  display: inline;
  grid-column-start: 1;
  grid-column-end: 3;
}
.socialmediaicon {
  display: inline;
  grid-column-start: 3;
  grid-column-end: 3;
  padding-bottom: 6px;
}
.footer h4 {
  font-size: 23px;
  display: inline;
  height: 1rem;
  color: aliceblue;
}
.footer ul {
  margin: 0px;
  float: right;
}
.footer ul li {
  display: inline-flex;
}
.footer ul li a {
  text-decoration: none;
  padding: 8px 32px 7px 13px;
  font-size: 31px;
    width: 9px;
    border-radius: 38px;
    
}
.footer a {
  display: inline;
  float: right;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  background-color: rgb(75, 207, 75);
  font-weight: bold;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  width: 4rem;
}
.footer a:hover {
  color: blue;
}
.gmail{
  height: 29px!important;
    width: 7px!important;
    padding: 8px 35px 9px 16px!important;
    font-size: 22px !important;
}
.fa-facebook{
  padding: 0px 0px 3px 6px !important;
}
.fa-globe{
  font-size: 7rem !important;
}
.fa-pencil-square-o{
  font-size: 7rem !important;
}