.container {
  /* display: grid; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 12px;
  grid-auto-rows: minmax(50px, auto);
  grid-auto-columns: minmax(50px, auto);
  background-color: red;
}

.item {
  border: 3px solid black;
  border-radius: 3px;
  padding: 1.5rem;
}

#item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
}
nav {
  display: inline;
  color: #f9f9f9;
}
nav p {
  display: inline-flex;
}
nav ul {
  display: inline-flex;
  float: right;
}
nav ul li {
  display: flex;
  padding: 0 16px;
}

nav ul li a {
  text-decoration: none;
  color: #f9f9f9;
}

#item-2 {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
  font-weight: bolder;
  color:black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-repeat: no-repeat;
  height: 200px;

  border: 0px;
  padding-top: 20%;
  background-image: url("/Images/b-1.jpeg");
}

#item-2 a{
  text-decoration: none;
  color: white;
  background-color: rgb(75, 207, 75);
  font-weight: lighter;
  font-size: 1rem;
  padding: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 border: none;
}

#item-2 a:hover {
  color: blueviolet;
}

#item-3 {
  grid-column-start: 1;
  grid-column-end: 6;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
 
}
.nested {
  border: 3px greenyellow solid;
  border-radius: 3px;
  background-color: lightgoldenrodyellow;
  padding: 15px;
}
.nested h1{
  color: blue;
}
.nested p{
  color: blueviolet;
}
.nested a{
  text-decoration: none;
  color: white;
  background-color: rgb(75, 207, 75);
  font-weight: lighter;
  font-size: 1rem;
  padding: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 border: none;
}
.nested a:hover{
  color: blueviolet;
}




#item-4 {
  grid-column-start: 1;
  grid-column-end: 6;
}

.item-container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;

}
.nested {
  border: 3px greenyellow solid;
  border-radius: 3px;
  background-color: lightgoldenrodyellow;
  /* padding-top: 25px; */
}
.nested h3{
  padding-top: 15%;
}

#item-5 {
  grid-column-start: 1;
  grid-column-end: 6;
  /* grid-row-start:1;
  grid-row-end: 3; */
}

.item-container-3 {
  display: grid;
 grid-template-columns: 50% 50%;

  grid-gap: 5px;
}
.nested {
  border: 3px greenyellow solid;
  border-radius: 3px;
  background-color: lightgoldenrodyellow;
  padding: 15px;
}

#item-6 {
background-image: url("/Images/background-2.jpeg");
  grid-column-start: 1;
  grid-column-end: 6;
  height: 200px;
  text-align: center;
  color: #f9f9f9;
  padding-top: 10%;
}

#item-7 {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
  color: #f9f9f9;
}
