.container {
  /* display: grid; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2px;
  /* grid-auto-rows: minmax(50px, auto); */
  grid-auto-columns: minmax(50px, auto);
  background-color: white
}

.navbar {
  border-radius: 3px;
  padding: 1.5rem;
  background-color: black

}

#header {
  grid-column-start: 1;
  grid-column-end: 6;
}

#header nav {
  display: inline;
  color: white;
}
#header input{
  padding: 10px;
  margin-left: 20rem;
  width: 25%;
}
#header nav p {
  display: inline-flex;
}
#header nav ul {
  display: inline-flex;
  float: right;
}
#header nav ul li {
  display: flex;
  padding: 0 16px;
}

#header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.section-top {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
  font-weight: bolder;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-repeat: no-repeat;
  height: 200px;
  border: 0px;
  padding-top: 20%;
  background-image: url("/Images/b-1.jpeg");
}

#background a {
  text-decoration: none;
  color: white;
  background-color: rgb(75, 207, 75);
  font-weight: lighter;
  font-size: 1rem;
  padding: 6px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
}

#background a:hover {
  color: blueviolet;
}

.section-mid {
  grid-column-start: 1;
  grid-column-end: 6;
}

#nested-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
}
.nested-a {
  padding: 15px;
}
.nested-a h1 {
  color: blue;
}
.nested-a p {
  color: blueviolet;
}
.nested-a a {
  text-decoration: none;
  color: white;
  background-color: rgb(75, 207, 75);
  font-weight: lighter;
  font-size: 1rem;
  padding: 6px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
}
.nested-a a:hover {
  color: blueviolet;
}
.nested-b img{
  width: 90%;
  height: 200px;
  padding-left: 23px;
  background-color: #f9f9f9;
}

.section-center{
  grid-column-start: 1;
  grid-column-end: 6;
}

.section-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  background-color: lightgrey;
}
.center {
  padding: 1rem;
}
.center h1{
  color: green;
}
.center h3{
  color: blueviolet;
}

.section-bottom {
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
}
.nested {
  padding: 15px;
}

#item-6 {
  background-image: url("/Images/background-2.jpeg");
  grid-column-start: 1;
  grid-column-end: 6;
  height: 200px;
  text-align: center;
  color: #f9f9f9;
  padding-top: 10%;
}

#item-7 {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
  color: #f9f9f9;
}
